{% extends 'base.html.twig' %}

{% block title %}New Sample{% endblock %}

{% block body %}
    <h1>Create new Sample</h1>

    {{ include('sample/_form.html.twig') }}

    <a href="{{ path('sample_index') }}">back to list</a>
{% endblock %}
